@import "../../theme/variables";
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: $footer-bg;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .fa {
    font-size: 2rem;
    color: #fff;
  }
  .fa-home {
    font-size: 3rem;
  }

  .active {
    .fa {
      color: #fcba03;
    }
  }
}
